@import url(http://fonts.googleapis.com/css?family=Lato:300);
* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
    color: #ecf0f1;
    background-image: url(background-min.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
    font-size: 20px;
    -webkit-animation-duration: 10s;
}

h1 {
    -webkit-animation-duration: 10s;
}

.main {
    height: 100%;
    width: 100%;
}

.outer {
    display: table;
}

.inner {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.break {
    h1: 65px;
    p: 16px;
    text-align: center;
    color: black;
    height: 50%;
    width: 100%;
    padding: 10px;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 1.0);
}

.third {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(204, 204, 204, 0.5);
    width: 100%;
    height: 254px;
}


/*.devpicborder {
    font-size: 18px;
    color: white;
    /*background-color: rgba(250, 250, 250, 0);*/
    /*border: 3px solid white;*/

.devpicborder {
    background-color: rgba(250, 250, 250, 0);
    /*border: 3px solid white;*/
    width: 200px;
    height: 210px;
    padding: 0px;
    display:inline-block;
    border-radius: 25px;
    margin: 22px;
    text-align: center;
    -webkit-transition : all .8s ease;
    -moz-transition : all .8s ease;
    -o-transition : all .8s ease;
    transition : all .8s ease;
    width: 200px;
}

.name {
  padding-bottom: 10px;
}

p.lastname {
  size: 18px;
  color: white;
  display: inline;
}

p.bold {
  font-weight: bold;
  size: 18px;
  color: white;
  display: inline;
}

.devpicborder:hover {
    border: rgba(200, 54, 54, 0.7);
    background-color: rgba(200, 54, 54, 0.5);
    -webkit-transition : all .6s ease;
    -moz-transition : all .6s ease;
    -o-transition : all .6s ease;
    transition : all .6s ease;
}

.devimg {
  border-radius: 50%;
  padding-top: 0px;
  height: 150px;
  width: 150px;
}

.devabout {
  text-align: center;
}

.devaboutname {
  font-size: 16pt;
}


.fifth {
    color: white;
    height: 500px;
    width: 100%;
    vertical-align: top;
    background-color: rgba(204, 204, 204, 0.5);
}

#sumbitshead {
    font-size: 50px;
}

.footer {
    /*    position: relative;*/
    /*    height: 10%;*/

    height: 40px;
    width: 100%;
    font-size: 25px;
    margin-bottom: 0;
    bottom: 0;
    display: table-row;
}

a {
    color: #ecf0f1;
    text-decoration: none;
}

.links {
    margin-top: 25px;
    padding: 7px 25px 7px 25px;
    border: solid 2px #ecf0f1;
    margin: 0 5px 0 5px;
    letter-spacing: 3px;
    -webkit-transition : all .6s ease;
    -moz-transition : all .6s ease;
    -o-transition : all .6s ease;
    transition : all .6s ease;

}

.links:hover {
    border: solid 2px #ecf0f1;
    -webkit-transition : all .4s ease;
    -moz-transition : all .4s ease;
    -o-transition : all .4s ease;
    transition : all .4s ease;
    background-color: rgba(200, 54, 54, 0.5);
}

.abouthead {
  text-align: center;
}

.about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 20px;
}

a.aboutlink {
  color: rgba(200, 54, 54, 0.5);
}

.center {
  text-align: center;
}

@media (max-width: 640px) {
    .links {
        text-align: center;
        margin: 0 auto;
        padding: 10px 0 10px 0;
        width: 50%;
        display: block;
    }
    .a {
        border-bottom: none;
    }
    .footer {
        font-size: 30px;
    }
}
