@import url(http://fonts.googleapis.com/css?family=Lato:300);
* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
    color: #ecf0f1;
    
    background-image: url(background.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

p {
    font-size: 20px;
}

.main {
    height: 100%;
    width: 100%;
}

.outer {
    display: table;
}

.inner {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.second {
    color: black;
    height: 50%;
    width: 100%;
    vertical-align: top;
    background-color: rgba(255,255,255, 1.0);
}

#second {
    text-align: center;
    vertical-align: middle;
}

.fourth {
    color: black;
    height: 50%;
    width: 100%;
    vertical-align: top;
    background-color: rgba(255,255,255, 1.0);
}

#fourth {
    text-align: center;
    vertical-align: middle;
}

.fifth {
    color: black;
    height: 50%;
    width: 100%;
    vertical-align: top;
    background-color: red;
}

#fifth {
    text-align: center;
    vertical-align: middle;
}

#sumbitshead {
    font-size: 50px;
}

#abouthead {
    font-size 50px 
}

.footer {
/*    position: relative;*/
/*    height: 10%;*/
    height: 40px;
    width: 100%;
    font-size: 25px;
    margin-bottom: 0;
    bottom: 0;
    display: table-row;
}

a {
    color: #ecf0f1;
    text-decoration: none;
}

.links {
    margin-top: 25px;
    padding: 7px 25px 7px 25px;
    border: solid 2px #ecf0f1;
    margin: 0 5px 0 5px;
    letter-spacing: 3px;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}

.links:hover {
    background-color: rgba(102,48,150, 0.5);
    border: solid 2px #F00;
}

@media (max-width: 640px) {
    .links {
        text-align: center;
        margin: 0 auto;
        padding: 10px 0 10px 0;
        width: 50%;
        display: block;
    }
    .a {
        border-bottom: none;
    }
    .footer {
        font-size: 30px;
    }
}
#img1 {
    float: left;
    height: 35%;
    width; 35%;
}
#img2 {
    float: right;
    height: 200px;
    width: 40.65%;
}